@using System.IO
@using Microsoft.AspNetCore.Mvc.Razor
@using Microsoft.AspNetCore.Mvc.Razor.Compilation
@using Microsoft.AspNetCore.Mvc.ViewFeatures

@*@inject JavaScriptSnippet JavaScriptSnippet*@
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Ocelot Configuration Editor</title>

    <environment names="Development,Staging,Production">
        <link rel="stylesheet" href="@Url.Action("ContentFile", "Editor", new { id = "site.min.css" }, Context.Request.Scheme)"/>
        <link rel="stylesheet" href="@Url.Action("ContentFile", "Editor", new { id = "glyphicons-halflings-regular.eot" }, Context.Request.Scheme)" />
        <link rel="stylesheet" href="@Url.Action("ContentFile", "Editor", new { id = "glyphicons-halflings-regular.svg" }, Context.Request.Scheme)" />
        <link rel="stylesheet" href="@Url.Action("ContentFile", "Editor", new { id = "glyphicons-halflings-regular.ttf" }, Context.Request.Scheme)" />
        <link rel="stylesheet" href="@Url.Action("ContentFile", "Editor", new { id = "glyphicons-halflings-regular.woff" }, Context.Request.Scheme)" />
        <link rel="stylesheet" href="@Url.Action("ContentFile", "Editor", new { id = "glyphicons-halflings-regular.woff2" }, Context.Request.Scheme)" />
    </environment>
    @*@Html.Raw(JavaScriptSnippet.FullScript)*@
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a asp-area="" asp-controller="Editor" asp-action="Index" class="navbar-brand">Ocelot Configuration Editor</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a asp-area="" asp-controller="Editor" asp-action="Index">Home</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container body-content">
    @RenderBody()
    <hr/>
    <footer>
        <p>&copy; @DateTime.Now.Year - Ocelot Configuration Editor</p>
    </footer>
</div>
<environment names="Development,Staging,Production">
    <script src="@Url.Action("ContentFile", "Editor", new { id = "site.min.js" }, Context.Request.Scheme)"></script>
</environment>

@RenderSection("Scripts", false)
</body>
</html>